.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
}

.btn:hover:not(.btn--active) {
  background-color: var(--bg-link-white-hover);
  color: var(--color-link-white);
}

.btn--pagination {
  background-color: var(--bg-accent);
  color: var(--color-link-black);
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.btn--pagination-active {
  background-color: var(--color-accent);
  color: var(--color-link-white);
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.btn:disabled {
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}
