.header {
  text-align: center;
  margin-bottom: 62px;
}

.list {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.img {
  margin-bottom: 30px;
}

.text {
  font-weight: 600;
  font-size: 24px;
  color: var(--color-primary);
  text-align: center;
}
