.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card {
  position: relative;
  z-index: 1;
  background-color: var(--bg-accent);
  padding: 62px 43px 37px 39px;
  border-radius: 10px;
  max-width: 640px;
}

.hashtag {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.2rem;
}

.title {
  margin-bottom: 17px;
}

.text {
  margin-bottom: 46px;
}
