.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.container--card {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 1;
  padding-top: 153px;
  padding-right: 58px;
}
