.card {
  width: 285px;
  position: relative;
}

.img {
  width: 100%;
  object-fit: cover;
}

.cardInfo {
  padding: 16px 16px 30px 16px;
  background-color: var(--bg-accent);
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: left;
}

.badge {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  padding: 12px 5px;
  color: var(--color-white);
  position: absolute;
  top: 24px;
  right: 24px;
}

.discount {
  background-color: var(--color-discount);
}

.newItem {
  background-color: var(--color-new-item);
}

.title {
  font-size: 24px;
}

.prices {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.actualPrice {
  color: var(--color-primary);
  font-size: 20px;
}

.oldPrice {
  color: var(--color-secondary-muted);
  text-decoration: line-through;
}
