.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.image {
  width: 50px;
  height: 32px;
}

.text {
  font-weight: 700;
  font-size: 34px;
  color: var(--color-link-black);
}

.logo:hover .text,
.logo:focus-visible .text {
  color: var(--color-link-black-hover);
}
