.section {
  width: 100%;
}

.section--default {
  margin-bottom: 56px;
}

.section--hero {
  position: relative;
  min-height: 810px;
  margin-bottom: 56px;
}

.section--features {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--bg-accent);
}
