@import "./reset.css";
@import "./variable.css";

body {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-primary);
}

h1 {
  font-weight: 700;
  font-size: 52px;
  line-height: 1.25;
  color: var(--color-accent);
}

h2 {
  font-weight: 500;
  font-size: 48px;
}

h3 {
  font-weight: 600;
  font-size: 40px;
}

h4 {
  font-weight: 600;
  font-size: 25px;
}

p {
  color: var(--color-secondary);
}

p.muted {
  color: var(--color-secondary-muted);
}

a.link-white {
  color: var(--color-link-white);
}

a.link-black {
  color: var(--color-link-black);
}
