:root {
  --font-family: "Poppins", sans-serif;
  --color-accent: #b88e2f;
  --bg-accent: #faf3ea;
  --color-primary: #3a3a3a;
  --color-secondary: #616161;
  --color-secondary-muted: #898989;
  --color-white: #fff;
  --bg-white-hover: #947222;
  --color-black: #000;
  --color-black-hover: #898989;
  --color-discount: #e97171;
  --color-new-item: #2ec1ac;
}
