:root {
  --font-family: "Poppins", sans-serif;
  --color-accent: #b88e2f;
  --bg-accent: #faf3ea;
  --color-primary: #3a3a3a;
  --color-secondary: #616161;
  --color-secondary-muted: #898989;
  --color-link-white: #fff;
  --bg-link-white-hover: #947222;
  --color-link-black: #000;
  --color-link-black-hover: #898989;
}
