.img {
  margin-bottom: 17px;
  border-radius: 10px;
}

.meta {
  display: flex;
  gap: 35px;
  color: var(--color-secondary-muted);
  margin-bottom: 15px;
}

.metaItem {
  display: flex;
  align-items: center;
  gap: 7px;
}

.title {
  margin-bottom: 12px;
}

.text {
  margin-bottom: 30px;
}
